body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%; /* o header ocupa 20%, o resto 80% */
    height: 95vh; /* garante que o grid ocupe toda a tela */
    box-sizing: border-box; /* garante que o limite do conteúdo vai ficar dentro dessa 'box', sem correr o risco de crescer além dessas fronteiras */
    font-family: 'IBM Plex Mono', monospace;
}

header {
    display: grid;
    align-content: center;
    box-sizing: border-box; /* garante que o limite do conteúdo vai ficar dentro dessa 'box', sem correr o risco de crescer além dessas fronteiras */
    grid-column: 1 / -1; /* ocupa as duas colunas */
}

.conteudodapagina1 {
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: 20% 80%;
    grid-template-columns: 30% 70%;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    align-items: center; /* centraliza o conteúdo verticalmente */
    text-align: justify; /* justifica o texto */
    margin: 10% 10% 20% 20%; /*topo, direita, baixo, esquerda */
}

.titulocadastrousurio {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    align-content: center; /* centraliza o conteúdo verticalmente */
    text-align: center; /* justifica o texto */
}

.formulariocadastro {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    grid-template-columns: auto 1fr; /* A primeira coluna (labels) terá tamanho automático, e a segunda (inputs) ocupa o restante */
    gap: 10px; /* Espaço entre os elementos */
    align-items: center;
    margin: 10% 20% 20% 20%;
}

.formulariocadastro label {
    text-align: right; /* Alinha os textos das labels à direita */
    padding-right: 10px;
}

.formulariocadastro input,
.formulariocadastro select {
    width: 100%;
    padding: 5px;
}

.conteudodapagina2 {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    align-content: center; /* centraliza o conteúdo verticalmente */
    text-align: justify; /* justifica o texto */
    margin: 10% 20% 20% 10%; /*topo, direita, baixo, esquerda */
}

.cabelhoesquerdo {
    display: grid;
    grid-column: 1 / 2;
    margin-left: 25px;
    align-content: center;
    justify-content: flex-start; /* alinha à esquerda */
}

.cabelhodireito {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2 / 3;
    margin-right: 20px;
    align-content: center;
    justify-content: flex-end; /* alinha à direita */
}

.english {
    display: grid;
    grid-column: 6 / 7;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
}

.portugues {
    display: grid;
    grid-column: 7 / 8;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
}